html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}

body{
	background-color:;
}

header{
	background-color: #003300;
	padding: 40px;
	text-align: center;
	height: 200px;
	overflow: hidden;
}

h1{
	font-size: 90px;
	color: white;
}

img.logo{
	width: 250px;
	border: 10px solid #b38f00;
	float: left;

}
.content {
	max-width: 1900px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	font-style: italic;
	color: lightgrey;
}

ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: orange;
	text-decoration: none;
}

footer{
	margin: 20px;
	padding: 40px 20px;
	background-color: lightgrey;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}

.topnav {
  background-color: #b38f00;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #003300;
  color: white;
}


.topnav a.active {
  background-color: #003300;
  color: white;
}